USE [master]
GO
/****** Object:  Database [FKVOPS]    Script Date: 9/3/2025 2:04:09 PM ******/
CREATE DATABASE [FKVOPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FKVOPS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FKVOPS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FKVOPS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FKVOPS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FKVOPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FKVOPS]
GO
/****** Object:  User [usershare]    Script Date: 9/3/2025 2:04:09 PM ******/
CREATE USER [usershare] FOR LOGIN [usershare] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 9/3/2025 2:04:09 PM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SQLArcExtensionUserRole]    Script Date: 9/3/2025 2:04:09 PM ******/
CREATE ROLE [SQLArcExtensionUserRole]
GO
ALTER ROLE [db_owner] ADD MEMBER [usershare]
GO
ALTER ROLE [SQLArcExtensionUserRole] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[UserManage]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserManage](
	[Id] [int] NOT NULL,
	[UserName] [nvarchar](30) NULL,
	[PasswordHash] [nvarchar](256) NULL,
	[IsWorking] [int] NULL,
	[InActive] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[LastUpdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpInfo]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpInfo](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [nvarchar](50) NULL,
	[EmpName] [nvarchar](250) NULL,
	[Gender] [nvarchar](10) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CompanyEmail] [nvarchar](100) NULL,
	[PersonalEmail] [nvarchar](100) NULL,
	[DeptCode] [nvarchar](50) NULL,
	[DeptName] [nvarchar](150) NULL,
	[PositionCode] [nvarchar](50) NULL,
	[PositionName] [nvarchar](150) NULL,
	[ManagerName] [nvarchar](150) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[InActive] [int] NULL,
 CONSTRAINT [PK_EmpInfo] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vEmpInfo]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE view [dbo].[vEmpInfo]
  as
  select a.Id,a.UserName,b.EmpName,b.Gender, b.PersonalEmail,b.PhoneNumber,b.AvatarUrl,b.CompanyEmail,b.ManagerName,a.InActive,a.CreatedDate,a.LastUpdate from UserManage a with (nolock)
  left join [EmpInfo] b with (nolock) on a.UserName =b.EmpCode
  where a.InActive is NULL
GO
/****** Object:  Table [dbo].[ApiKey]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiKey](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[HashKey] [nvarchar](500) NULL,
	[CreatedAt] [date] NULL,
	[ExpiredAt] [date] NULL,
	[IsRevoked] [bit] NULL,
	[LastUsedAt] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreasMaster]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreasMaster](
	[Id] [int] NOT NULL,
	[AreaName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeptsMaster]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeptsMaster](
	[Id] [int] NOT NULL,
	[DeptName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nodelinks]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nodelinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SourceNode] [int] NULL,
	[TargetNode] [int] NULL,
	[Yaw] [float] NULL,
	[Pitch] [float] NULL,
	[Rotation] [int] NULL,
	[Tooltip] [nvarchar](50) NULL,
	[MarkerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nodes]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nodes](
	[Id] [int] NOT NULL,
	[Workshop] [nvarchar](150) NULL,
	[Floor] [nvarchar](150) NULL,
	[AreaName] [nvarchar](150) NULL,
	[DeptName] [nvarchar](50) NULL,
	[Panorama] [nvarchar](150) NULL,
	[Thumbnail] [nvarchar](150) NULL,
	[Short Desc] [nvarchar](50) NULL,
	[Desc] [nvarchar](500) NULL,
	[DefaultYaw] [float] NULL,
	[DefaultPitch] [float] NULL,
	[IsStartNode] [bit] NULL,
 CONSTRAINT [PK_Nodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](50) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRCodeConfigs]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRCodeConfigs](
	[IDQR] [int] IDENTITY(1,1) NOT NULL,
	[QRName] [nvarchar](100) NULL,
	[QRType] [nvarchar](50) NULL,
	[QRContent] [nvarchar](max) NULL,
	[SSIDName] [nvarchar](100) NULL,
	[SecurityType] [nvarchar](100) NULL,
	[WifiPassHash] [nvarchar](max) NULL,
	[IsChange] [int] NULL,
	[ChangeOnDays] [nvarchar](50) NULL,
	[InActive] [int] NULL,
	[CreateBy] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_QRCodeConfigs] PRIMARY KEY CLUSTERED 
(
	[IDQR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[PermissionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[RoleName] [nvarchar](20) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Token] [varchar](max) NULL,
	[ExpiredDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WifiConfig]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WifiConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsType] [nvarchar](150) NULL,
	[SSIDName] [nvarchar](150) NULL,
	[SecurityType] [nvarchar](50) NULL,
	[WifiPassHash] [nvarchar](max) NULL,
	[DeviceType] [nvarchar](100) NULL,
	[IsChange] [int] NULL,
	[ChangeOnDays] [nvarchar](50) NULL,
	[InActive] [bit] NULL,
	[CreateBy] [nvarchar](150) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](150) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_WifiConfig] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZonesMaster]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZonesMaster](
	[ZoneID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneCode] [nvarchar](150) NULL,
	[ZoneName] [nvarchar](150) NULL,
	[AreaCode] [nvarchar](150) NULL,
	[AreaName] [nvarchar](150) NULL,
 CONSTRAINT [PK_Zones] PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApiKey] ON 

INSERT [dbo].[ApiKey] ([Id], [UserId], [HashKey], [CreatedAt], [ExpiredAt], [IsRevoked], [LastUsedAt]) VALUES (1, 2, N'N03I5WbOb0AorJ4Ka48QTysxpq0b2fEV7lYUlGd9FQTuURPItEAo9fxjml0W0zu11wutHI9eoZC2st/D1LfI9A==', CAST(N'2025-08-23' AS Date), CAST(N'2025-09-04' AS Date), NULL, CAST(N'2025-09-03' AS Date))
INSERT [dbo].[ApiKey] ([Id], [UserId], [HashKey], [CreatedAt], [ExpiredAt], [IsRevoked], [LastUsedAt]) VALUES (2, 1, N'j8WggA0qrXBmdU9DAjbPwIwEyZfzGaOBagGQ4IbtFP5SYnJ/qJUj70Ffym9v+S4HkOW6bdHqmttkbf4XyUXDlA==', NULL, CAST(N'2025-09-04' AS Date), NULL, CAST(N'2025-08-28' AS Date))
INSERT [dbo].[ApiKey] ([Id], [UserId], [HashKey], [CreatedAt], [ExpiredAt], [IsRevoked], [LastUsedAt]) VALUES (3, 10, N'IH2303gJhSfglRqUZadwQfs7ARnx1dlQvIJm0/cb+eTvTVa9N6TvISHBf7d5kXy+8UW4juanskXYC7Kq8dxvHQ==', NULL, CAST(N'2025-09-03' AS Date), NULL, CAST(N'2025-08-27' AS Date))
SET IDENTITY_INSERT [dbo].[ApiKey] OFF
GO
INSERT [dbo].[AreasMaster] ([Id], [AreaName]) VALUES (1, N'Office')
INSERT [dbo].[AreasMaster] ([Id], [AreaName]) VALUES (2, N'WHS')
INSERT [dbo].[AreasMaster] ([Id], [AreaName]) VALUES (3, N'C&M')
GO
INSERT [dbo].[DeptsMaster] ([Id], [DeptName]) VALUES (1, N'IT')
INSERT [dbo].[DeptsMaster] ([Id], [DeptName]) VALUES (2, N'Canteen')
INSERT [dbo].[DeptsMaster] ([Id], [DeptName]) VALUES (3, N'HR')
GO
SET IDENTITY_INSERT [dbo].[EmpInfo] ON 

INSERT [dbo].[EmpInfo] ([EmpID], [EmpCode], [EmpName], [Gender], [PhoneNumber], [CompanyEmail], [PersonalEmail], [DeptCode], [DeptName], [PositionCode], [PositionName], [ManagerName], [AvatarUrl], [InActive]) VALUES (1, N'khaipham1234', N'Pham Dinh Khai', N'Male', N'0909123456', N'khai.pham@framas.com', N'dinhkhai@gmail.com', N'IT', N'IT', N'3', N'Manager', N'Le Tuan Bao', NULL, NULL)
INSERT [dbo].[EmpInfo] ([EmpID], [EmpCode], [EmpName], [Gender], [PhoneNumber], [CompanyEmail], [PersonalEmail], [DeptCode], [DeptName], [PositionCode], [PositionName], [ManagerName], [AvatarUrl], [InActive]) VALUES (3, N'dmhien2004', N'Hien Duong', N'Male', N'0888888888', NULL, N'duongminhhien14@gmail.com', NULL, NULL, NULL, NULL, NULL, N'/images/avatars/2_f2c9ee32-fb6c-4f3e-9f25-5be02464045b.jpg', NULL)
INSERT [dbo].[EmpInfo] ([EmpID], [EmpCode], [EmpName], [Gender], [PhoneNumber], [CompanyEmail], [PersonalEmail], [DeptCode], [DeptName], [PositionCode], [PositionName], [ManagerName], [AvatarUrl], [InActive]) VALUES (15, N'ManagerTest123', N'Manager', N'None', N'', NULL, N'manager@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[EmpInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Nodelinks] ON 

INSERT [dbo].[Nodelinks] ([Id], [SourceNode], [TargetNode], [Yaw], [Pitch], [Rotation], [Tooltip], [MarkerId]) VALUES (1, 1, 2, 326.06314176595157, -19.251465709008446, 225, N'New Hotspot', 0)
INSERT [dbo].[Nodelinks] ([Id], [SourceNode], [TargetNode], [Yaw], [Pitch], [Rotation], [Tooltip], [MarkerId]) VALUES (5, 5, 4, 308.83825218377461, -53.757169787569012, 900, N'New Hotspot', 0)
INSERT [dbo].[Nodelinks] ([Id], [SourceNode], [TargetNode], [Yaw], [Pitch], [Rotation], [Tooltip], [MarkerId]) VALUES (7, 4, 5, 267.58406581275221, -29.414777300910835, 540, N'New Hotspot', 1)
SET IDENTITY_INSERT [dbo].[Nodelinks] OFF
GO
INSERT [dbo].[Nodes] ([Id], [Workshop], [Floor], [AreaName], [DeptName], [Panorama], [Thumbnail], [Short Desc], [Desc], [DefaultYaw], [DefaultPitch], [IsStartNode]) VALUES (1, N'WS2', N'F1', N'Walkway', N'Gate', N'/images/viewer/2b73b8a0-1408-49d3-95ad-475a30cd1848.jpg', N'/images/thumbnails/1_9fcc9eba-5598-4fdf-828f-8e41dae6287a.jpg', N'Gate', N'The main gate', 340.18, 1.11431, 1)
INSERT [dbo].[Nodes] ([Id], [Workshop], [Floor], [AreaName], [DeptName], [Panorama], [Thumbnail], [Short Desc], [Desc], [DefaultYaw], [DefaultPitch], [IsStartNode]) VALUES (2, N'WS2', N'F1', N'Walkway', N'Corner', N'/images/viewer/a4d7cfb6-87e4-45e2-a26c-578df9cb8d7e.jpg', N'/images/thumbnails/2_dc4f97f2-cc86-4cf3-91c5-f120eb9b7ecc.jpg', N'WS2_Corner_Front_Left', N'The crossroad on the left of WS2', 295.99541457695994, -2.6650488461953752, NULL)
INSERT [dbo].[Nodes] ([Id], [Workshop], [Floor], [AreaName], [DeptName], [Panorama], [Thumbnail], [Short Desc], [Desc], [DefaultYaw], [DefaultPitch], [IsStartNode]) VALUES (4, N'WS2', N'F1', N'Office', N'Reception', N'/images/viewer/084c5f5a-2b56-4f73-83b5-bf0995de812a.jpg', N'/images/thumbnails/4_a56d37f7-60e5-4e51-8afc-03eee860d19d.jpg', N'WS2_Reception ', N'The reception place in WS2', 176.744, -26.008, NULL)
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Id], [PermissionName], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (4, N'Users.Manage', CAST(N'2025-06-26' AS Date), CAST(N'2025-06-26' AS Date), 1)
INSERT [dbo].[Permission] ([Id], [PermissionName], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (5, N'Users.Edit', CAST(N'2025-06-26' AS Date), CAST(N'2025-06-26' AS Date), 1)
INSERT [dbo].[Permission] ([Id], [PermissionName], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (6, N'Users.Delete', CAST(N'2025-06-26' AS Date), CAST(N'2025-06-26' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[QRCodeConfigs] ON 

INSERT [dbo].[QRCodeConfigs] ([IDQR], [QRName], [QRType], [QRContent], [SSIDName], [SecurityType], [WifiPassHash], [IsChange], [ChangeOnDays], [InActive], [CreateBy], [CreateDate], [UpdateBy], [LastUpdated]) VALUES (1, N'Wifi FKV-OEE', N'WIFI', NULL, N'FKV-OEE', N'WPA', N'6oXXbSz17MrOceSs0igOrA==', 1, NULL, NULL, NULL, CAST(N'2025-08-06T10:04:15.157' AS DateTime), NULL, CAST(N'2025-08-09T08:52:34.007' AS DateTime))
INSERT [dbo].[QRCodeConfigs] ([IDQR], [QRName], [QRType], [QRContent], [SSIDName], [SecurityType], [WifiPassHash], [IsChange], [ChangeOnDays], [InActive], [CreateBy], [CreateDate], [UpdateBy], [LastUpdated]) VALUES (2, N'WifiInfo', N'LINK', NULL, N'Guest-2', N'WPA', N'L4TaIF0gTAirrBK8t3CdiA==', 1, N'Sunday', 1, NULL, CAST(N'2025-08-06T11:24:24.770' AS DateTime), NULL, CAST(N'2025-08-06T13:58:02.283' AS DateTime))
INSERT [dbo].[QRCodeConfigs] ([IDQR], [QRName], [QRType], [QRContent], [SSIDName], [SecurityType], [WifiPassHash], [IsChange], [ChangeOnDays], [InActive], [CreateBy], [CreateDate], [UpdateBy], [LastUpdated]) VALUES (3, N'Wi-Fi Info as Link', N'WIFI-INFO', NULL, N'Wifi_Name', N'WEP', N'OJUgAgEg8nw4kBhsPWrDPg==', 0, NULL, 1, NULL, CAST(N'2025-08-06T11:45:22.600' AS DateTime), NULL, CAST(N'2025-08-07T09:03:35.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[QRCodeConfigs] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermission] ON 

INSERT [dbo].[RolePermission] ([Id], [RoleId], [PermissionId]) VALUES (5, 1, 7)
INSERT [dbo].[RolePermission] ([Id], [RoleId], [PermissionId]) VALUES (6, 1, 9)
INSERT [dbo].[RolePermission] ([Id], [RoleId], [PermissionId]) VALUES (10, 1, 5)
SET IDENTITY_INSERT [dbo].[RolePermission] OFF
GO
INSERT [dbo].[Roles] ([Id], [RoleName], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'Admin', CAST(N'2024-06-24' AS Date), CAST(N'2025-08-08' AS Date), 1)
INSERT [dbo].[Roles] ([Id], [RoleName], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'User', CAST(N'2025-06-26' AS Date), CAST(N'2025-08-08' AS Date), 1)
INSERT [dbo].[Roles] ([Id], [RoleName], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, N'Manager', CAST(N'2025-06-27' AS Date), CAST(N'2025-08-08' AS Date), 1)
GO
INSERT [dbo].[UserManage] ([Id], [UserName], [PasswordHash], [IsWorking], [InActive], [CreateBy], [CreatedDate], [UpdatedBy], [LastUpdate]) VALUES (1, N'admin', N'$2a$11$3lmjZ/fCeANNwZdRfau4WepFpjjVdSW8UUT4iCL0L2HvRMBvG/6B2', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-08-08T08:33:38.370' AS DateTime))
INSERT [dbo].[UserManage] ([Id], [UserName], [PasswordHash], [IsWorking], [InActive], [CreateBy], [CreatedDate], [UpdatedBy], [LastUpdate]) VALUES (2, N'dmhien2004', N'$2a$11$HTuD3Zq34NOwB84J3zvxQu5yYIbnhgFrk.VHDNQMdekTbwZz8usmW', NULL, NULL, NULL, NULL, NULL, CAST(N'2025-08-12T14:06:51.200' AS DateTime))
INSERT [dbo].[UserManage] ([Id], [UserName], [PasswordHash], [IsWorking], [InActive], [CreateBy], [CreatedDate], [UpdatedBy], [LastUpdate]) VALUES (10, N'hang', N'$2a$11$giuzqIKWfXd6UXQJE8RWT.lfC.3TIZz4E1wJlgs5BvwP/hSho8jTu', NULL, NULL, NULL, CAST(N'2025-08-07T08:46:20.067' AS DateTime), NULL, CAST(N'2025-08-08T12:34:04.943' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (63, 1, 1)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (64, 10, 3)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (75, 11, 3)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTokens] ON 

INSERT [dbo].[UserTokens] ([Id], [UserId], [Token], [ExpiredDate]) VALUES (208, 1, N'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiZW1haWwiOiJhZG1pbkBnbWFpbC5jb20iLCJ1bmlxdWVfbmFtZSI6IkFkbWluIiwiZnVsbF9uYW1lIjoiU29uIEhldW5nIE1pbiIsImdlbmRlciI6Ik1hbGUiLCJwaG9uZSI6IjA5MDgyMjQwNzYiLCJyb2xlIjoiQWRtaW4iLCJyb2xlaWQiOiIxIiwibmJmIjoxNzU0NTM0MDc5LCJleHAiOjE3NTUxMzg4NzksImlhdCI6MTc1NDUzNDA3OSwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo1MzEwIiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdDo1MzEwIn0.JCD_C23LOiAWcIQHZU6KM-denROJo0pwqjrDH0tsHG-NFjpOOwKQGVgrDJhA5cYeTQk3iyhHFdmGCWaZmhVjvQ', CAST(N'2025-08-14' AS Date))
SET IDENTITY_INSERT [dbo].[UserTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[WifiConfig] ON 

INSERT [dbo].[WifiConfig] ([Id], [IsType], [SSIDName], [SecurityType], [WifiPassHash], [DeviceType], [IsChange], [ChangeOnDays], [InActive], [CreateBy], [CreateDate], [UpdateBy], [LastUpdated]) VALUES (3, NULL, N'FKV-OEE', N'WPA', N'6oXXbSz17MrOceSs0igOrA==', N'Mobile', 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[WifiConfig] ([Id], [IsType], [SSIDName], [SecurityType], [WifiPassHash], [DeviceType], [IsChange], [ChangeOnDays], [InActive], [CreateBy], [CreateDate], [UpdateBy], [LastUpdated]) VALUES (4, NULL, N'Guest-2', N'WPA', N'L4TaIF0gTAirrBK8t3CdiA==', NULL, 1, N'Sunday', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[WifiConfig] ([Id], [IsType], [SSIDName], [SecurityType], [WifiPassHash], [DeviceType], [IsChange], [ChangeOnDays], [InActive], [CreateBy], [CreateDate], [UpdateBy], [LastUpdated]) VALUES (5, NULL, N'Free Wifi 2', N'WEP', N'g6Oxsp6oZs/mP+nDYUJADA==', NULL, 1, N'Monday', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WifiConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[ZonesMaster] ON 

INSERT [dbo].[ZonesMaster] ([ZoneID], [ZoneCode], [ZoneName], [AreaCode], [AreaName]) VALUES (1, N'WS1', N'WS1-Name', NULL, N'Office')
SET IDENTITY_INSERT [dbo].[ZonesMaster] OFF
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserManage] ([Id])
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserManage] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_apiKey_create]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_apiKey_create]
@UserId int,
@HashKey nvarchar(500),
@ExpiredAt DateTime
As
Begin
Insert into ApiKey(UserId,HashKey,CreatedAt,ExpiredAt,LastUsedAt) values
(@UserId,@HashKey, GETDATE(),@ExpiredAt, GETDATE())
End
GO
/****** Object:  StoredProcedure [dbo].[sp_apiKey_getByHash]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_apiKey_getByHash]
@HashKey nvarchar(500)
As
begin
Select * from ApiKey where HashKey=@HashKey
end
GO
/****** Object:  StoredProcedure [dbo].[sp_apiKey_getByUserId]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_apiKey_getByUserId]
@UserId int
As
begin
Select * from ApiKey where UserId=@UserId
end
GO
/****** Object:  StoredProcedure [dbo].[sp_apiKey_update]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_apiKey_update]
@UserId int,
@HashKey nvarchar(500),
@ExpiredAt DateTime
As
Begin 
Update ApiKey
Set
HashKey=@HashKey,
ExpiredAt=@ExpiredAt,
LastUsedAt=GetDate()
Where UserId=@UserId
End
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_create]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_create]
@Id int,
@Panorama nvarchar(150),
@Thumbnail nvarchar(150),
@Name nvarchar(50),
@Caption nvarchar(500),
@DefaultYaw nvarchar(50),
@DefaultPitch nvarchar(50),
@Workshop nvarchar(150),
@Floor nvarchar(150),
@AreaName nvarchar(150),
@DeptName nvarchar(50)
As 
begin
Insert into Nodes(Id,Panorama,Thumbnail,[Short Desc],[Desc],DefaultYaw,DefaultPitch,Workshop,Floor,AreaName,DeptName)
Values (@Id,@Panorama,@Thumbnail,@Name,@Caption,@DefaultYaw,@DefaultPitch,@Workshop,@Floor,@AreaName,@DeptName)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_create_link]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_create_link]
@SourceNode int,
@TargetNode int,
@Yaw float,
@Pitch float,
@Rotation int,
@Tooltip nvarchar(50),
@MarkerId int
as
begin
insert into Nodelinks(SourceNode,TargetNode,Yaw,Pitch,Rotation,Tooltip,MarkerId) values
(@SourceNode,@TargetNode,@Yaw,@Pitch,@Rotation,@Tooltip,@MarkerId)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_delete]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_delete]
@Id int
As
begin
Delete from Nodes where Id=@Id
Delete from Nodelinks where SourceNode=@Id
Delete from Nodelinks where TargetNode=@Id 
End
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_delete_link]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_delete_link]
@SourceNode int,
@TargetNode int
As
begin
Delete from Nodelinks where SourceNode=@SourceNode and TargetNode=@TargetNode
end
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_get_all]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_get_all]
as
begin
select Id,Workshop,Floor,AreaName,DeptName,Panorama,Thumbnail,[Short Desc] as Name,[Desc] as Caption,DefaultYaw,DefaultPitch,IsStartNode  from Nodes
end
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_get_by_id]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_get_by_id]
@Id int
as
begin
select Id,Workshop,Floor,AreaName,DeptName,Panorama,Thumbnail,[Short Desc] as Name,[Desc] as Caption,DefaultYaw,DefaultPitch,IsStartNode  from Nodes
where Id=@Id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_get_links]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_get_links]
@Id int
as
begin
select TargetNode,Yaw,Pitch,Rotation,Tooltip,MarkerId,N.[Short Desc] as TargetName from Nodelinks NL Join Nodes N on NL.TargetNode=N.Id
where SourceNode=@Id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_remove_start]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_nodes_remove_start]
@Id int
As
Begin
Update Nodes
Set
IsStartNode=NULL
where Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_set_start]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_nodes_set_start]
@Id int
As
Begin
Update Nodes
Set
IsStartNode='true'
where Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_update]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_update]
@Id int,
@Thumbnail nvarchar(150),
@Name nvarchar(50),
@Caption nvarchar(500),
@DefaultYaw float,
@DefaultPitch float,
@Workshop nvarchar(150),
@Floor nvarchar(150),
@AreaName nvarchar(150),
@DeptName nvarchar(50)
As
Begin
Update Nodes
Set
Thumbnail=@Thumbnail,
[Short Desc]=@Name,
DefaultYaw=@DefaultYaw,
DefaultPitch=@DefaultPitch,
[Desc]=@Caption,
Workshop=@Workshop,
Floor=@Floor,
AreaName=@AreaName,
DeptName=@DeptName
where Id=@Id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_nodes_update_link]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_nodes_update_link]
@SourceNode int,
@TargetNode int,
@Yaw float,
@Pitch float,
@Rotation int,
@Tooltip nvarchar(50),
@MarkerId int
As
Begin
Update Nodelinks
Set 
Yaw=@Yaw,
Pitch=@Pitch,
Rotation=@Rotation,
Tooltip=@Tooltip,
TargetNode=@TargetNode
where SourceNode=@SourceNode and
MarkerId=@MarkerId
End
GO
/****** Object:  StoredProcedure [dbo].[sp_permission_check]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_permission_check]
@RoleId int,
@Permission nvarchar(50)
As
begin
if Exists(
select 1 from RolePermission RP join Permission P on RP.PermissionId=P.Id where RP.RoleId=@RoleId and P.PermissionName=@Permission and P.IsActive='true'
)
 SELECT CAST(1 AS BIT);
    ELSE
        SELECT CAST(0 AS BIT);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_permission_create]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_permission_create]
@PermissionName nvarchar(50)
As
Begin
If exists( Select 1  from Permission Where PermissionName=@PermissionName)
Begin
RAISERROR('Permission đã tồn tại',16,1);
Return; 
End;
Insert Into Permission(PermissionName,CreatedAt,UpdatedAt,IsActive) Values (@PermissionName,GETDATE(),GETDATE(),1)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_permission_delete]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_permission_delete]
@Id int 
As
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Permission WHERE Id = @Id
    )
    BEGIN
        UPDATE Permission
		SET IsActive=0 
		WHERE Id = @Id;
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy permission', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_permission_get_all]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_permission_get_all]
As
begin
Select * from Permission
End
GO
/****** Object:  StoredProcedure [dbo].[sp_permission_get_by_role_id]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_permission_get_by_role_id]
@RoleId int
as
begin
select PermissionId as Id, PermissionName,CreatedAt,UpdatedAt, IsActive
from RolePermission RP join Permission P ON RP.PermissionId=P.Id
where RP.RoleId= @RoleId
end
GO
/****** Object:  StoredProcedure [dbo].[sp_permission_update]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_permission_update]
@Id int,
@PermissionName nvarchar(20)
As
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Permission WHERE Id = @Id
    )
    BEGIN
        UPDATE Permission
		SET PermissionName=@PermissionName,
			UpdatedAt=GETDATE()
		WHERE Id = @Id;
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy permission', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_permission_update_active_status]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_permission_update_active_status]
@Id int,
@IsActive bit
AS
Begin
if exists (Select 1 from permission 
where Id=@Id)
begin
Update Permission
Set
IsActive=@IsActive
Where Id=@Id 
end
Else
Begin
Raiserror('Không tìm thấy permission',16,1)
End
End
GO
/****** Object:  StoredProcedure [dbo].[sp_QRCodeConfigs_Delete]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_QRCodeConfigs_Delete 4
CREATE PROCEDURE [dbo].[sp_QRCodeConfigs_Delete]
    @IDQR INT    
AS
BEGIN
    UPDATE QRCodeConfigs
    SET 
        InActive = 1,       
        LastUpdated = GETDATE()
    WHERE IDQR = @IDQR
END
GO
/****** Object:  StoredProcedure [dbo].[sp_QRCodeConfigs_Get_SSID]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[sp_QRCodeConfigs_Get_SSID]
@SSIDName nvarchar(150)
as
begin
IF NOT EXISTS (SELECT 1 FROM QRCodeConfigs with (nolock) WHERE SSIDName = @SSIDName)
BEGIN
    RAISERROR('SSID không tồn tại', 16, 1);
    RETURN;
END
    select *
    from QRCodeConfigs with (nolock)
    where UPPER(SSIDName) = UPPER(@SSIDName)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_QRCodeConfigs_GetAll]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_QRCodeConfigs_GetAll]
as
select * from QRCodeConfigs with (nolock)
where ISNULL(InActive,0)=0 or ISNULL(InActive,'')=''
order by QRType DESC
GO
/****** Object:  StoredProcedure [dbo].[sp_QRCodeConfigs_GetById]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_QRCodeConfigs_GetById]
@IDQR INT
as
select * from QRCodeConfigs with (nolock)
where ISNULL(InActive,0)=0 or ISNULL(InActive,'')=''
and IDQR=@IDQR
GO
/****** Object:  StoredProcedure [dbo].[sp_QRCodeConfigs_Insert]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[sp_QRCodeConfigs_Insert]
    @QRName NVARCHAR(100),
    @QRType NVARCHAR(50),   
    @QRContent NVARCHAR(500),
    @SSIDName NVARCHAR(100) = NULL,
    @SecurityType NVARCHAR(50) = NULL,
    @WifiPassHash NVARCHAR(255) = NULL,
    @IsChange int= NULL,
    @ChangeOnDays nvarchar(50)= NULL
    
as
    INSERT INTO QRCodeConfigs (QRName,QRType,QRContent,SSIDName,SecurityType,WifiPassHash,IsChange,ChangeOnDays,CreateDate
    )
    VALUES (
        @QRName,
        @QRType,       
        @QRContent,
        @SSIDName,
        @SecurityType,
        @WifiPassHash, 
        @IsChange,      
        @ChangeOnDays,
        GETDATE()
    )

    SELECT SCOPE_IDENTITY() AS NewIDQR
GO
/****** Object:  StoredProcedure [dbo].[sp_QRCodeConfigs_Update]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QRCodeConfigs_Update]
    @IDQR INT,
    @QRName NVARCHAR(100),
    @QRType NVARCHAR(50),
    @QRContent NVARCHAR(500),
    @SSIDName NVARCHAR(100) = NULL,
    @WifiPassHash NVARCHAR(255) = NULL,   
    @SecurityType NVARCHAR(50) = NULL,    
    @IsChange int= NULL,
    @ChangeOnDays nvarchar(50)= NULL
   
AS
BEGIN
    UPDATE QRCodeConfigs
    SET
        QRName = @QRName,
        QRType = @QRType,   
        QRContent= @QRContent,
        SSIDName = @SSIDName,
        SecurityType = @SecurityType,
        WifiPassHash = @WifiPassHash,       
		ChangeOnDays=@ChangeOnDays,
        LastUpdated = GETDATE()
    WHERE IDQR = @IDQR
END
GO
/****** Object:  StoredProcedure [dbo].[sp_role_add_permission]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_role_add_permission]
@RoleId int,
@PermissionId int
As
Begin
if exists (select 1 from RolePermission 
where RoleId=@RoleId and PermissionId=@PermissionId
)
Begin
Return
End
Insert into RolePermission(RoleId,PermissionId) Values (@RoleId,@PermissionId)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_role_create]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_role_create]
@Id int,
@RoleName nvarchar(20)
As
Begin
If exists( Select 1  from Roles Where RoleName=@RoleName)
Begin
RAISERROR('Role đã tồn tại',16,1);
Return; 
End;
Insert Into Roles(Id,RoleName,CreatedAt,UpdatedAt,IsActive) Values (@Id,@RoleName,GETDATE(),GETDATE(),1)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_role_delete]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_role_delete]
@Id int 
As
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Roles WHERE Id = @Id
    )
    BEGIN
        UPDATE Roles
		SET IsActive=0 
		WHERE Id = @Id;
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy role', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_role_delete_permission]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_role_delete_permission]
@RoleId int,
@PermissionId int
As
Begin
if exists (select 1 from RolePermission 
where RoleId=@RoleId and PermissionId=@PermissionId
)
Begin
Delete from RolePermission where RoleId=@RoleId and PermissionId=@PermissionId
End
ELSE
Begin
RAISERROR('Role chưa có permission này',16,1)
Return
END
End
GO
/****** Object:  StoredProcedure [dbo].[sp_role_get_all]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_role_get_all]
As
begin
Select * from Roles
End
GO
/****** Object:  StoredProcedure [dbo].[sp_role_get_by_id]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_role_get_by_id]
@Id int
As
begin
IF NOT EXISTS (SELECT 1 FROM Roles WHERE Id = @Id)
BEGIN
    RAISERROR('Role không tồn tại', 16, 1);
    RETURN;
END
Select * from Roles where Id=@Id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_role_get_permission]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_role_get_permission]
@RoleId int
As
Begin
Select PermissionId From RolePermission
Where RoleId=@RoleId
End
GO
/****** Object:  StoredProcedure [dbo].[sp_role_update]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_role_update]
@Id int,
@RoleName nvarchar(20)
As
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Roles WHERE Id = @Id
    )
    BEGIN
        UPDATE Roles
		SET RoleName=@RoleName,
			UpdatedAt=GETDATE()
		WHERE Id = @Id;
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy role', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_user_add_role]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_add_role]
@UserId int,
@RoleId int
As
Begin
If exists (Select 1 from UserRoles Where UserId=@UserId)
Begin
	Delete From UserRoles where UserId=@UserId
	Insert into UserRoles(UserId,RoleId) Values (@UserId,@RoleId)
END
ELSE
Begin
	return
end
End
GO
/****** Object:  StoredProcedure [dbo].[sp_user_check_token]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_check_token]
    @Token NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
         SELECT 1 
         FROM UserTokens
         WHERE Token = @Token 
           AND ExpiredDate > GETUTCDATE()
    )
        SELECT CAST(1 AS BIT);
    ELSE
        SELECT CAST(0 AS BIT);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_user_create]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_create] 
@Id int,
@UserName nvarchar(30),
@PasswordHash nvarchar(256),
@Email nvarchar(256),
@FullName nvarchar(50),
@Gender nvarchar(50),
@PhoneNumber varchar(10),
@RoleId int
As
Begin
If exists (select 1 from EmpInfo u where u.PersonalEmail=@Email)
Begin
RAISERROR('Email đã tồn tại',16,1);
Return;
End;
If exists (select 1 from EmpInfo u where u.EmpCode=@UserName)
Begin
RAISERROR('Username đã tồn tại',16,1);
Return;
End;
insert into UserManage (Id,UserName,PasswordHash,CreatedDate,LastUpdate)
		values (@Id,@UserName,@PasswordHash,GETDATE(),GETDATE())
insert into EmpInfo (EmpCode,PersonalEmail,EmpName,Gender,PhoneNumber)
		values (@UserName,@Email,@FullName,@Gender,@PhoneNumber)
Insert into UserRoles(UserId,RoleId) Values (@Id,@RoleId)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_user_delete]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM UserManage WHERE Id = @Id
    )
    BEGIN
        UPDATE UserManage
		SET InActive=1 
		WHERE Id = @Id;
		UPDATE ApiKey
		Set IsRevoked=1
		Where UserId=@Id;
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy user', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_user_delete_token]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_delete_token]
 @UserId VARCHAR(20)
 As
 Begin 
 IF EXISTS (SELECT 1 FROM UserTokens WHERE UserId = @UserId)
    BEGIN
        DELETE FROM UserTokens WHERE UserId = @UserId;
    END
End
GO
/****** Object:  StoredProcedure [dbo].[sp_user_delete_token_single]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_user_delete_token_single]
 @UserId VARCHAR(20),
 @Token NVARCHAR(MAX)
 As
 Begin 
 IF EXISTS (SELECT 1 FROM UserTokens WHERE UserId = @UserId)
    BEGIN
        DELETE FROM UserTokens WHERE UserId = @UserId and Token=@Token;
    END
End
GO
/****** Object:  StoredProcedure [dbo].[sp_user_delete_v2]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_user_delete_v2]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM UserManage with (nolock) WHERE Id = @Id
    )
    BEGIN
        UPDATE UserManage
		SET InActive=1 
		WHERE Id = @Id;

         
        delete  FROM UserTokens  where UserId=@Id
        delete FROM UserRoles where UserId=@Id
        delete  FROM UserManage   WHERE Id = @Id
        print 'Đã xóa: '+ convert(nvarchar(50),@Id)
        
      SELECT * FROM UserManage   with (nolock) 
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy user', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_all]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_get_all]
as
begin
select EI.Id,UserName,EI.PersonalEmail as Email,EI.EmpName FullName, EI.Gender, 
EI.PhoneNumber, EI.CreatedDate as CreatedAt, EI.InActive,R.Id as RoleId, R.RoleName,AK.HashKey,AK.ExpiredAt
from vEmpInfo EI Join UserRoles UR on EI.Id=UR.UserId Left Join  ApiKey AK on EI.Id=AK.UserId
Join Roles R on UR.RoleId=R.Id 
end

GO
/****** Object:  StoredProcedure [dbo].[sp_user_get_by_id]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_get_by_id]
@Id int
as
begin
IF NOT EXISTS (SELECT 1 FROM UserManage WHERE Id = @Id)
BEGIN
    RAISERROR('User không tồn tại', 16, 1);
    RETURN;
END
select EI.Id,UserName,EI.PersonalEmail as Email,EI.EmpName FullName, 
		EI.Gender, EI.PhoneNumber, EI.CreatedDate,EI.AvatarUrl,EI.CompanyEmail,EI.CreatedDate as CreatedAt, EI.InActive,R.Id as RoleId, R.RoleName
from vEmpInfo EI Join UserRoles UR on EI.Id=UR.UserId
Join Roles R on UR.RoleId=R.Id 
where EI.Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_user_login]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_login] (@Email NVarchar(256))
As
Begin
select EI.Id,PasswordHash,EI.UserName,EI.PersonalEmail as Email,EI.EmpName FullName, EI.Gender, EI.PhoneNumber,
	EI.AvatarUrl,EI.CompanyEmail, EI.CreatedDate as CreatedAt, EI.InActive,EI.ManagerName,R.Id as RoleId, R.RoleName
from vEmpInfo EI Join UserRoles UR on EI.Id=UR.UserId
Join Roles R on UR.RoleId=R.Id 
Join UserManage UM on UM.Id=EI.Id
where EI.PersonalEmail=@Email
IF @Email NOT LIKE '%_@_%._%'
BEGIN
    RAISERROR('Email không đúng định dạng', 16, 1);
    RETURN;
END
IF NOT EXISTS (SELECT 1 FROM vEmpInfo WHERE PersonalEmail = @Email)
BEGIN
    RAISERROR('User không tồn tại', 16, 1);
    RETURN;
END
End;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_login_with_username]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_login_with_username] (@UserName NVarchar(256))
As
Begin
select EI.Id,PasswordHash,EI.UserName,EI.PersonalEmail as Email,EI.EmpName FullName, EI.Gender, EI.PhoneNumber,
	EI.AvatarUrl,EI.CompanyEmail, EI.CreatedDate as CreatedAt, EI.InActive,EI.ManagerName,R.Id as RoleId, R.RoleName
from vEmpInfo EI Join UserRoles UR on EI.Id=UR.UserId
Join Roles R on UR.RoleId=R.Id 
Join UserManage UM on UM.Id=EI.Id
where EI.UserName=@UserName
IF NOT EXISTS (SELECT 1 FROM vEmpInfo WHERE UserName = @UserName)
BEGIN
    RAISERROR('User không tồn tại', 16, 1);
    RETURN;
END
End;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_reset_password]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_reset_password]
@Id int,
@NewPasswordHash nvarchar(256)
As
Begin

 IF EXISTS (
        SELECT 1 FROM UserManage WHERE Id = @Id
    )
    BEGIN
Update UserManage
Set PasswordHash= @NewPasswordHash
where Id=@Id
End 
ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy user', 16, 1);
    END
End
GO
/****** Object:  StoredProcedure [dbo].[sp_user_save_token]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_user_save_token]
    @UserId VARCHAR(20),
    @Token VARCHAR(MAX),
    @ExpiredDate DATE
AS
BEGIN
    INSERT INTO UserTokens (UserId, Token, ExpiredDate)
    VALUES (@UserId, @Token, @ExpiredDate);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_user_update]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_user_update] 
@Id int,
@Email nvarchar(256),
@FullName nvarchar(50), 
@Gender nvarchar(50),
@PhoneNumber varchar(10)
As
Begin

 DECLARE @Username NVARCHAR(50);
    SELECT @Username = Username
    FROM UserManage
    WHERE Id = @Id;

    IF @Username IS NOT NULL
    BEGIN
        UPDATE EmpInfo
        SET PersonalEmail = @Email,
            EmpName = @FullName,
            Gender = @Gender,
            PhoneNumber = @PhoneNumber
        WHERE EmpCode = @Username;
		Update UserManage
		Set LastUpdate = GETDATE()
		Where Id=@Id
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy user', 16, 1);
    END
End
GO
/****** Object:  StoredProcedure [dbo].[sp_user_update_avatar]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_user_update_avatar]
@Id int,
@AvatarUrl nvarchar(500)
as
begin
 DECLARE @Username NVARCHAR(50);
    SELECT @Username = Username
    FROM UserManage
    WHERE Id = @Id;

    IF @Username IS NOT NULL
    BEGIN
        UPDATE EmpInfo
        SET AvatarUrl=@AvatarUrl
        WHERE EmpCode = @Username;
		Update UserManage
		Set LastUpdate = GETDATE()
		Where Id=@Id
    END
    ELSE
    BEGIN
        RAISERROR(N'Không tìm thấy user', 16, 1);
    END
End

GO
/****** Object:  StoredProcedure [dbo].[sp_user_verify_token]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_user_verify_token]
@UserId int
As
begin
	if exists(
		select 1
		from UserTokens
		Where UserId=@UserId  AND ExpiredDate > GETUTCDATE()
		)
SELECT CAST(1 AS BIT);
    ELSE
        SELECT CAST(0 AS BIT);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_wifi_config_create]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_wifi_config_create]
@SSIDName nvarchar(150),
@SecurityType nvarchar(50),
@WifiPassHash nvarchar(MAX),
@ChangeOnDays nvarchar(50),
@IsChange int,
@DeviceType nvarchar(100)
as
begin
insert into WifiConfig (SSIDName,SecurityType,WifiPassHash,DeviceType,ChangeOnDays,IsChange) values
(@SSIDName,@SecurityType,@WifiPassHash,@DeviceType,@ChangeOnDays,@IsChange)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_wifi_config_delete]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_wifi_config_delete]
@Id int
as
begin
IF NOT EXISTS (SELECT 1 FROM WifiConfig WHERE Id = @Id)
BEGIN
    RAISERROR('Wifi không tồn tại', 16, 1);
    RETURN;
END
Update WifiConfig
Set
InActive=1
where Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_wifi_config_get_all]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_wifi_config_get_all]
as
begin
select * from WifiConfig with (nolock)
where ISNULL(InActive,0)=0 or ISNULL(InActive,'')=''
end
GO
/****** Object:  StoredProcedure [dbo].[sp_wifi_config_get_by_id]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_wifi_config_get_by_id]
@Id int
as
begin
IF NOT EXISTS (SELECT 1 FROM WifiConfig WHERE Id = @Id)
BEGIN
    RAISERROR('Wifi không tồn tại', 16, 1);
    RETURN;
END
select Id,SSIDName,SecurityType,WifiPassHash,IsChange,ChangeOnDays from WifiConfig
where Id=@Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_wifi_config_get_by_ssid]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_wifi_config_get_by_ssid]
@SSIDName nvarchar(150)
as
begin
IF NOT EXISTS (SELECT 1 FROM WifiConfig WHERE SSIDName = @SSIDName)
BEGIN
    RAISERROR('Wifi không tồn tại', 16, 1);
    RETURN;
END
select Id,SSIDName,SecurityType,WifiPassHash,IsChange,ChangeOnDays from WifiConfig
where SSIDName=@SSIDName
end
GO
/****** Object:  StoredProcedure [dbo].[sp_wifi_config_update]    Script Date: 9/3/2025 2:04:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_wifi_config_update]
@Id int,
@SSIDName nvarchar(150),
@SecurityType nvarchar(50),
@WifiPassHash nvarchar(MAX),
@ChangeOnDays nvarchar(50),
@IsChange int,
@DeviceType nvarchar(100)
as 
begin
IF NOT EXISTS (SELECT 1 FROM WifiConfig WHERE Id = @Id)
BEGIN
    RAISERROR('Wifi không tồn tại', 16, 1);
    RETURN;
END
Update WifiConfig
Set
SSIDName=@SSIDName,
SecurityType=@SecurityType,
WifiPassHash=@WifiPassHash,
ChangeOnDays=@ChangeOnDays,
IsChange=@IsChange,
DeviceType=@DeviceType
where Id=@Id
end
GO
USE [master]
GO
