@page "/unauthorized"
@using VirtualTour.Web.Components.Layout
@layout EmptyLayout

<style>
    .full-page-wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .small-image {
        background-image: url('/Unauthorized.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
</style>

<div class="full-page-wrapper">
    <div class="small-image"></div>
</div>